<html>
<form method='post' action='/new'>
Name: <input type='text' name='name'>
Breed: <input type='text' name='breed'>
Age: <input type='text' name = 'age'>
Submit <input type='submit' action ='submit' id='submit'>
</form>
</html>
