<form method="post" action="/new_puppy">
<p>Name: <input type="text" name="name"></p>
<p>Breed: <input type="text" name="breed"></p>
<p>Age: <input type="text" name="age"></p>
<button type="submit" value="submit">Submit</button>
</form>
