<!DOCTYPE html>
<html lang=“en”>
  <head>
    <meta charset="UTF-8">
    <title>Create a Puppy</title>
  </head>

  <body>
    <h1>Create a Puppy</h1>
    <br>
    <form method="POST" action="/new">
      <p><label for="POST_name">Name: </label>
      <input id="POST_name" type="text" name="name">
      <p><label for="POST_breed">Breed: </label>
      <input id="POST_breed" type="text" name="breed">
      <p><label for="POST_age">Age: </label>
      <input id="POST_age" type="text" name="age">

      <p><input id="submit_button" type="submit" value="submit">

    </form>
  </body>

</html>
