
<form method="POST" action="/">
  <label for="name">Puppy Name: </label>
  <input type="text" name="name"> <br>
  <label for="breed">Puppy Breed: </label>
  <input type="text" name="breed"><br>
  <label for="age">Puppy Age: </label>
  <input type="text" name="age"><br>
  <input type="submit" id="submit" value="submit">

</form>




<!-- Now, we need to create a form for a user to list a new puppy that is available for adoption. You can create this form in views/create_puppy.erb. Remember, you'll need to set up another controller action for a user to be able to view this form in the browser. Another reminder: the "submit" button of a form is an <input> element with a type of "submit", not a <button> element. -->
