
<!DOCTYPE html>
<html>

<head>
  <title>Display Puppy</title>
</head>

<body>

<p>Puppy Name:
<%= @puppy.name %></p>
<p>Puppy Breed:
<%= @puppy.breed %></p>
<p>Puppy Age:
<%= @puppy.age %></p>

</form>

</body>

</html>
