<!DOCTYPE html>
<html lang=“en”>
  <head>
    <meta charset="UTF-8">
    <title>Your New Puppy</title>
  </head>

  <body>
    <h1>Your New Puppy</h1>
    <p><h2>Puppy Name: <%= @new_puppy.name %></h2>
    <p><h2>Puppy Breed: <%= @new_puppy.breed %></h2>
    <p><h2>Puppy Age: <%= @new_puppy.age %></h2>
  </body>

</html>
