<!DOCTYPE html>
<html>
    <head>
        <title>Puppy Adoption Site!!</title>
    </head>
    <body>

          <p>Puppy Name: <%=@puppy.name%></p>
          <p>Puppy Breed: <%=@puppy.breed%></p>
          <p>Puppy Age: <%=@puppy.age%></p>
          <a href="/">Go Back to Homepage</a></p>

    </body>
</html>
