
<p>Puppy Name: <%= @puppy.name%> <br>
  Puppy Breed: <%= @puppy.breed%> <br>
  Puppy Age: <%= @puppy.age%> <br>




</p>



<!-- Now we need to make sure the form is being submitted properly. You'll need to have a third controller action that takes the input from the user and renders a third view (views/display_puppy.erb) which displays the info for the puppy that was just created. -->
