<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>New Puppy Info</h2>
    <p>Puppy Name: </p><%= @puppy.name %>
    <p>Puppy Breed: </p><%= @puppy.breed %>
    <p>Puppy Age: </p><%= @puppy.age %>
    <br>
    <a href="./">Homepage</a>
  </body>
</html>
