

<h1>Welcome to the page!</h1>
<a href="http://localhost:9393/new">Click Here To List A Puppy</a>


<!-- The home page will also need a new view index.erb. This page should welcome you to the Puppy Adoption Site. Add this view to the controller action. -->
